body {
  height: 100%;
  padding: 0 80px;
  color: white;
  background-color: #252FA6;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.07'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  /* background by SVGBackgrounds.com */
}

.hidden {
	z-index: -1;
	display: none !important;
	pointer-events: none;
}



/* CODE ENTRY */

.middle-screen-container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.middle-screen {
  width: 30vw;
  height: 2em;
}


.code-entry {
  color: #2d2d2d;
}

.code-button {
  background-color: #FE265B;
}


/* NAVIGATION ICONS */

.navigation-icons {
  display: flex;
  justify-content: flex-end;
}

i {
  font-size: 3em;
}

.fa-address-card {
  color: white;
  padding-bottom: 30px;
}

.fa-question-circle {
  color: #252FA6;
}



/* SECTIONS */
h1 {
  font-size: 6em;
}

h2 {
  font-size: 4em;
  padding: 70px 0px;
}

h3 {
  font-size: 2em;
  padding-top: 0;
}

h4 {
  font-size: 1.5em;
}

section {
  border-radius: 5px;
  padding: 25px;
  margin: 25px;
}


table {
  width: 100%;
  margin-top: 20px;
}

th {
  background-color: #4c53a8;
  color: white;
}

.table-bold {
  font-weight: bold;
}

.table-desc {
  width: 65%;
}


.zigzag {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
}

/* NAME SECTION */
.name-section {
  background-color: white;
  color: #2d2d2d;
}

.name {
  margin-top: -120px;
}

.desc {
  margin-top: -80px;
}

.what-you-know {
  border-radius: 5px;
  background-color: #cdcdcd;
  color: #2d2d2d;
  margin-top: 20px;
  padding: 20px;
}

/* RELATIONSHIPS SECTION */
.relationships-section {
  background-color: #FE265B;
  color: white;
}



/* ITEMS SECTION */
.items-section {

  background-color: #4c53a8;
  color: white;
}


/* CLUE SECTION */

.clue-section {
  background-color: #FC6109;
  color: white;
}


/* SECRETS SECTION */

.secrets-section {
  background-color: #F9B50B;
  color: #2d2d2d;
}



/* GOALS SECTION */
.goals-section {
  background-color: #FE265B;
  color: white;
}


/* ABILITIES SECTION */
.abilities-section {
  background-color: white;
  color: #2d2d2d;
}
